{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container">
    <h1>Ambulances Inventory</h1>
    <a class="add_vehicle" href="#">Add New Ambulance</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Registration Number</th>
                <th>Type</th>
                <th>Available</th>
                <th>Condition</th>
                <th>Last Maintenance</th>
            </tr>
        </thead>
        <tbody>
            {% for ambu in health_ambu %}
            <tr>
                <td>{{ ambu.id }}</td>
                <td>{{ ambu.registration_number }}</td>
                <td>{{ ambu.type }}</td>
                <td>{{ ambu.available }}</td>
                <td>{{ ambu.condition }}</td>
                <td>{{ ambu.last_maintenance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock index %}