{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container">
    <h1>Beds Inventory</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Capacity</th>
                <th>Available</th>
                <th>Condition</th>
                <th>Last Checked</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ward A</td>
                <td>10</td>
                <td>8</td>
                <td>Good</td>
                <td>2024-07-26</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ward B</td>
                <td>15</td>
                <td>12</td>
                <td>Good</td>
                <td>2024-07-26</td>
            </tr>
            <tr>
                <td>3</td>
                <td>ICU</td>
                <td>5</td>
                <td>3</td>
                <td>Excellent</td>
                <td>2024-07-26</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock index %}