{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container">
    <h1>Beds Inventory</h1>
    <a class="add_vehicle" href="#">Add New Beds</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Capacity</th>
                <th>Available</th>
                <th>Condition</th>
                <th>Last Checked</th>
            </tr>
        </thead>
        <tbody>
            {% for bed in health_bed %}
            <tr>
                <td>{{ bed.id }}</td>
                <td>{{ bed.location }}</td>
                <td>{{ bed.capacity }}</td>
                <td>{{ bed.available }}</td>
                <td>{{ bed.condition }}</td>
                <td>{{ bed.last_checked }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock index %}