{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container">
    <h1>Oxygen Cylinders Inventory</h1>
    <a class="add_vehicle" href="#">Add Oxygen Cylinders</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Capacity (Liters)</th>
                <th>Available</th>
                <th>Condition</th>
                <th>Last Checked</th>
            </tr>
        </thead>
        <tbody>
            {% for o in health_o2 %}
            <tr>
                <td>{{ o.id }}</td>
                <td>{{ o.location }}</td>
                <td>{{ o.capacity_liters }}</td>
                <td>{{ o.available }}</td>
                <td>{{ o.condition }}</td>
                <td>{{ o.last_checked }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
{% endblock index %}