{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container">
    <h1>Staff Inventory</h1>
    <a class="add_vehicle" href="#">Add New Staff</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Department</th>
                <th>Status</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in health_staff %}
            <tr>
                <td>{{ staff.id }}</td>
                <td>{{ staff.name }}</td>
                <td>{{ staff.role }}</td>
                <td>{{ staff.department }}</td>
                <td>{{ staff.status }}</td>
                <td>{{ staff.last_updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>

{% endblock index %}