{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">
    <div class="col-md-6">
      <div class="feature-text-div">
        <h1 class="feature-main-text">IMC <span>Inventory</span></h1>
      <span class="feature-main-text-para">IMC Indore uses Blinklog for efficient stock control, minimizing waste and optimizing inventory levels.</span>
      </div>
    </div>
    <div class="col-md-6 row features-section">
      <div class="row col-md-5" style="flex-direction: column;">
        <div class="feature col-md-12">
          <a href="">
            <div class="feature-content feature-content1">
              <div class="main-text-li" style="display: flex;align-items: left;justify-content: left;flex-direction: column;">
                <span class="text-features">Machinery</span>
                <span class="text-features">Non-Machinery</span>
              </div>
            </div>
          </a>
        </div>
        <div class="feature col-md-12">
          <div class="feature-content feature-content2">
            <div class="main-text-li">
              <span class="text-features">Vehicles</span>
              <li>garbage trucks</li>
              <li>fire engines</li>
            </div>
          </div>
        </div>
        <div class="feature col-md-12">
          <div class="feature-content"></div>
        </div>
      </div>
      <div class="row col-md-7">
        <div class="feature col-md-12">
          <div class="feature-content-odd"></div>
        </div>
        <div class="feature col-md-12">
          <div class="feature-content-odd"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock index %}