{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 row features-section">
      <div class="row col-md-5" style="flex-direction: column;">
        <div class="feature col-md-12">
          <a href="{% url 'assets_manage:assets_manage' %}">
            <div class="feature-content feature-content1">
              <div class="main-text-li">
                <span class="text-features">Asset Management</span>
                <div style="display: flex;align-items: center;justify-content: center;">
                  <img src="../../../static/core/image/assets.svg" alt="">
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="feature col-md-12">
            <a href="{% url 'maintain:maintain' %}">
              <div class="feature-content feature-content1">
                <div class="main-text-li">
                  <span class="text-features">Maintenance Management</span>
                  <div style="display: flex;align-items: center;justify-content: center;">
                    <img src="../../../static/core/image/settings.svg" alt="" style="margin-top: 0;">
                  </div>
                </div>
              </div>
            </a>
        </div>
        <div class="feature col-md-12">
          <div class="feature-content"></div>
        </div>
      </div>
      <div class="row col-md-7">
        <div class="feature col-md-12">
          <div class="feature-content-odd"></div>
        </div>
        <div class="feature col-md-12">
          <div class="feature-content-odd"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock index %}