.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #236aa9;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e9ecef;
}

form {
    margin-top: 20px;
}
.view_list,
.form_save,
.back_to_list,
.view_action,
.add_vehicle{
    text-decoration: none;
    border: 1px solid grey;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    color: #236aa9;
    font-weight: 600;
}
.view_list:hover,
.form_save:hover,
.back_to_list:hover,
.view_action:hover,
.add_vehicle:hover{
    background-color: #236aa9;
    color: white;
}

.back_to_list{
    margin-top: 10px;
}

/* form submission css */
#id_model,
#id_serial_number,
#id_condition,
#id_location,
#id_purchase_date,
#id_last_service_date,
#id_next_service_due,
#id_type,
#id_make{
    border: 1px solid grey;
    width: 100%;
    color: grey;
    padding: 3px 10px;
    border-radius: 5px;
}
.form-img-div{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.form-img{
    position: sticky;
    top: 25vh;
    width: 20em;
}