{% extends 'assets_manage/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="vehicle_para">
                <h3>Assets Inventory Tracking</h3>
                <p>Asset Inventory Tracking refers to the systematic process of managing and monitoring the assets within an organization. This includes physical assets such as machinery, vehicles, equipment, and other valuable resources. The primary goal of asset inventory tracking is to ensure efficient utilization, maintenance, and management of these assets throughout their lifecycle.</p>
                <a class="view_list" href="{% url 'assets_manage:vehicle_list' %}">View Vehicle Inventory</a>
            </div>
        </div>
        <div class="col-md-6 vehicle_para_img p-0">
            <img height="250px" src="../../../static/assets_manage/image/asset.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 vehicle_para_img p-0" style="justify-content: left;">
            <img height="250px" src="../../../static/assets_manage/image/location.png" alt="">
        </div>
        <div class="col-md-6">
            <div class="vehicle_para">
                <h3>Location Tracking</h3>
                <p>Location Tracking refers to the process of monitoring and recording the physical location of assets, individuals, or objects in real-time or at specific intervals. It involves using various technologies and systems to determine and manage the geographic location of entities, and it plays a crucial role in asset management, logistics, security, and operational efficiency.</p>
                <a class="view_list" href="{% url 'assets_manage:asset_location' %}">View Vehicle's Location</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="vehicle_para">
                <h3>Status Monitoring in Asset Management</h3>
                <p>Status Monitoring is a crucial component of asset management that involves tracking and recording the operational state of assets throughout their lifecycle. This ensures that all assets, such as vehicles and machinery, are functioning efficiently and any issues are addressed promptly. Here's an overview of how status monitoring can be implemented and its significance</p>
                <a class="view_list" href="{% url 'assets_manage:asset_status' %}">View Vehicle Inventory</a>
            </div>
        </div>
        <div class="col-md-6 vehicle_para_img p-0">
            <img height="250px" src="../../../static/assets_manage/image/status.png" alt="">
        </div>
    </div>
</div>

{% endblock index %}