{% extends 'assets_manage/partial/base.html' %}
{% load static %}

{% block index %}


<div class="container">
    <h1>Add New Vehicle</h1>
    <a class="back_to_list" href="{% url 'assets_manage:vehicle_list' %}">Back to List</a>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="form_save" type="submit">Save</button>
            </form>
        </div>
        <div class="col-md-6 form-img-div">
            <img class="form-img" src="../../../static/assets_manage/image/car.svg" alt="">
        </div>
    </div>
</div>

{% endblock index %}